.card {
  width: 190px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid rgba(252, 166, 31, 0.45);
  box-shadow: 0px 19px 60px rgba(0 0 0 / 8%);
  border-radius: 20px;
  padding: 26px;
}

.icon-card {
  color: blue;
}

.card > :nth-child(2) {
  color: #788097;
  font-size: 26px;
  font-weight: 545;
}

.card > :nth-child(3) {
  color: #242d49;
  font-size: 18px;
}
