.contactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 25px 0px;
  gap: 50px;
}

.containerData {
  display: flex;
  flex-direction: column;
}

.contatBox {
  padding: 40px 0px;
  display: flex;
  align-items: center;
}

.contactIcon {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fca61f;
}

.contactText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  flex-direction: column;
  font-weight: 300;
}

.contactH3 {
  font-weight: bold;
  color: rgb(116, 4, 4);
  margin: 0px;
}

.contactParrafo {
  font-weight: 300;
  color: black;
  margin: 0px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
  gap: 40px;
  width: 100%;
  max-width: 750px;
}

.title {
  font-size: 36px;
  color: #fca61f;
  margin: 0px;
}

.text {
  font-size: 18px;
  color: #192d2f;
  margin: 0px;
}

.containerInput {
  width: 100%;
  display: flex;
  gap: 30px;
}

.formInput {
  width: 50%;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid #192d2f;
  padding-bottom: 12px;
  color: #192d2f;
}

.formInput:focus {
  border-bottom: 1px solid #cc4643;
}

.containerButton {
  width: 100%;
  display: flex;
}

.formButton {
  border: none;
  background-color: #fca61f;
  color: #ffffff;
  padding: 15px 0px;
  width: 150px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #192d2f;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .body {
    width: 100%;
  }

  .contactSection {
    flex-direction: column;
  }

  .containerData {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .body {
    padding: 50px 20px;
  }

  .containerInput {
    flex-direction: column;
    gap: 40px;
  }

  .formInput {
    width: 100%;
  }
}
