.contactSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 0px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #ffffff;
  text-align: center;
  gap: 40px;
  width: 750px;
}

.title {
  font-size: 36px;
  color: #192d2f;
  margin: 0px;
}

.text {
  font-size: 18px;
  color: #192d2f;
  margin: 0px;
}

.containerInput {
  width: 100%;
  display: flex;
  gap: 30px;
}

.formInput {
  width: 50%;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid #192d2f;
  padding-bottom: 12px;
  color: #192d2f;
}

.formInput:focus {
  border-bottom: 1px solid #cc4643;
}

.containerButton {
  width: 100%;
  display: flex;
}

.formButton {
  border: none;
  background-color: #cc4643;
  color: #ffffff;
  padding: 15px 0px;
  width: 150px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #192d2f;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .body {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .body {
    padding: 50px 20px;
  }

  .containerInput {
    flex-direction: column;
    gap: 40px;
  }

  .formInput {
    width: 100%;
  }
}
