.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 0.5;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-size: 1.8rem;
    font-weight: bold;
}

.n-rigth {
    display: flex;
    flex: 0.75;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.n-list ul li:hover {
    cursor: pointer;
    color: #FCA61F;
}

@media(max-width: 850px) {
    .n-rigth {
        display: none;
    }
}