* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.header {
    width: 100%;
    height: 75px;
    background: #101922;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    float: left;
    padding-top: 20px;
    color: white;
}

.logo a {
    color: white;
}

.logo a :hover {
    color: #40de32;
}

.menu {
    float: right;
    line-height: 75px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    line-height: normal;
    font-size: 16px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: #40de32;
    border-bottom: 4px solid #40de32;
}

#btn-menu {
    display: none;
}

.boton {
    display: none;
}

.boton label {
    color: white;
    background: #2a343e;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.boton label:hover {
    color: rgb(201, 221, 221);
}

@media(max-width: 700px) {
    .header {
        height: 60px;
    }

    .logo {
        float: left;
        padding-top: 5px;
    }

    .logo img {
        height: 50px;
        width: 100px;
    }

    .menu {
        display: none;
        background: #234;
        width: 100%;
        height: 40vh;
        top: 60px;
        left: 0;
    }

    #btn-menu:checked~.menu {
        display: inline-block;
    }

    .menu a {
        display: block;
        margin-top: 10px;
    }

    .boton {
        display: block;
        padding-top: 22px;
        float: right;
    }

    .boton:hover {
        display: block;
    }
}