* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.footer {
    width: 100%;
    height: 75px;
    background: #101922;
    z-index: 10;
    left: 0;
    bottom: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-menu {
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 75px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    padding: 0px 25px;
}

.footer-menu a:hover {
    color: #40de32;
    border-bottom: 4px solid #40de32;
}