.portafolio {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.tittle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-1 {
  color: #242d49;
  font-size: 3.5rem;
  font-weight: bold;
}

.tittle-2 {
  color: #fca61f;
  font-size: 4rem;
  font-weight: bold;
}

.portafolio .swiper {
  overflow: visible !important;
}

.portafolio-slider {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.portafolio-slider .swiper-slider {
  width: 30rem;
}

.portafolio img {
  width: 95%;
  height: 75vh;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
  padding-bottom: 50px;
}

@media (max-width: 850px) {
  .portafolio img {
    height: 50vh;
  }
}

@media (max-width: 550px) {
  .portafolio img {
    height: 35vh;
  }
}

@media (max-width: 450px) {
  .portafolio img {
    height: 30vh;
    padding-bottom: 75px;
  }
}
